body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Karma', serif;
}

.website_form {
  font-size: 20px;
  width: 300px;
  height: 600px;
  background-color: #26A96C;
  border: solid 1px #26A96C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}

.website_form > input {
  padding: 10px;
  margin: 10px;
}

.website_app--submit {
  border: solid 1px white;
  background-color: white;
  transition: background-color 1s ease;
  outline: none;
}

.website_app--submit:hover {
  background-color: black;
  transform: rotate(180deg);
  color: white;
  border: solid 1px white;
  background-color: #26A96C;
  outline: none;
}

.website_app-submit, select { 
    outline: none;
}

.website_form--alert {
  display: none;
}

.website_form--correct {
  display: none;
}